.Panel {
  background-color: var(--mantine-color-white);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__header {
    height: 60px;

    &--text {
      margin-bottom: -5px;
    }
  }

  &.width {
  }
}
