.tiles {
  gap: rem(20px);
  margin-bottom: rem(20px);
}

.tile {
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  padding: rem(10px);
  flex-grow: 1;
  border-radius: rem(10px);

  --skeleton-height: rem(44px);
  --skeleton-width: 50%;
  --skeleton-border-radius: rem(10px);
}

.tableSkeleton {
  margin-top: rem(30px);
  --skeleton-height: rem(300px);
  --skeleton-width: 100%;
  --skeleton-border-radius: rem(10px);
}

.graph {
  gap: 0;
  margin-bottom: rem(20px);
}

.netWorthContainer {
  width: rem(60%);
  height: rem(500px);
  padding: rem(10px);
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  border-top-left-radius: rem(10px);
  border-bottom-left-radius: rem(10px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.assetsContainer {
  width: rem(40%);
  height: rem(500px);
  background-color: light-dark(var(--color-light), var(--color-dark));
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  margin-left: rem(-3px);
  border-top-right-radius: rem(10px);
  border-bottom-right-radius: rem(10px);
  border-bottom-left-radius: rem(0px);
  border-top-left-radius: rem(0px);
  padding: rem(10px);
}

.header {
  justify-content: space-between;
}

.chartContainer {
  height: 90%;
  width: 100%;
}

.title {
  margin-bottom: rem(20px);
}

.filters {
  justify-content: space-between;
}
