.title {
  margin-bottom: 20px;
}

.netWorthContainer {
  width: 60%;
  height: 500px;
  border: var(--mantine-color-gray-2) 2px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
}

.assetsContainer {
  height: 500px;
  width: 40%;
  background-color: var(--mantine-color-gray-0);
  border: var(--mantine-color-gray-2) 2px solid;
  margin-left: -3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 10px;
}

.chartContainer {
  height: 90%;
  width: 100%;
}

.header {
  justify-content: space-between;
}

.filters {
  justify-content: space-between;
}