.title {
  margin-bottom: 20px;
}

.netWorthContainer {
  width: 100%;
  border: var(--mantine-color-gray-2) 2px solid;
  border-radius: 8px;
  padding: 10px;
}

.heading {
  justify-content: space-between;
}

.filters {
  justify-content: space-between;
}