@import "/src/utils/styles/_variables.css";

.text {
  color: var(--mantine-color-gray-9);
  margin: 0;

  &.size {
    &.xxs {
      font-size: 10px;
    }
    &.xs {
      font-size: 12px;
    }
    &.sm {
      font-size: 14px;
    }
    &.md {
      font-size: 16px;
    }
    &.lg {
      font-size: 18px;
    }
    &.xl {
      font-size: 20px;
    }
    &.xxl {
      font-size: 24px;
    }
    &.xxxl {
      font-size: 32px;
    }
  }

  &.weightRegular {
    font-weight: 400;
  }

  &.weightSemiBold {
    font-weight: 550;
  }

  &.weightBold {
    font-weight: 700;
  }

  &.weightBlack {
    font-weight: 900;
  }

  &.alignLeft {
    text-align: left;
  }
  &.alignCenter {
    text-align: center;
  }
  &.alignRight {
    text-align: right;
  }

  &.color {
    &.default {
      color: $gray-8;
    }
    &.primary {
      color: $sky-5;
    }
    &.secondary {
      color: $teal-5;
    }

    &.gray {
      color: $gray-5;
    }
    &.error {
      color: $red-5;
    }
    &.success {
      color: $green-6;
    }
    &.warning {
      color: $yellow-5;
    }
    &.info {
      color: $blue-5;
    }

    &.white {
      color: $white;
    }
  }

  a {
    color: var(--mantine-color-blue-4);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: var(--mantine-color-blue-4);
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
