.Text {
  color: var(--mantine-color-gray-9);
  margin: 0;

  &--size {
    &-xxs {
      font-size: 10px;
    }
    &-xs {
      font-size: 12px;
    }
    &-sm {
      font-size: 14px;
    }
    &-md {
      font-size: 16px;
    }
    &-lg {
      font-size: 18px;
    }
    &-xl {
      font-size: 20px;
    }
    &-xxl {
      font-size: 24px;
    }
    &-xxxl {
      font-size: 32px;
    }
  }

  &--weight {
    &-regular {
      font-weight: 400;
    }

    &-bold {
      font-weight: 700;
    }

    &-black {
      font-weight: 900;
    }
  }

  &--color {
    &-default {
      color: var(--mantine-color-gray-9);
    }

    &-gray {
      color: var(--mantine-color-gray-5);
    }
  }
}
