.container {
  padding-bottom: rem(30px);

  --skeleton-height: rem(20px);

  table {
    --table-border-color: light-dark(
      var(--color-border-light),
      var(--color-border-dark)
    );
  }
}

.positive {
  color: var(--mantine-color-green-6);
}

.negative {
  color: var(--mantine-color-red-6);
}
