@import "/src/utils/styles/_variables.css";

.signup {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $gray-0;
  flex-direction: column;
  gap: 50px;
  padding-top: 150px;
}
