.logo {
  position: relative;
  .image {
    width: 250px;
  }

  .subtitle {
    margin-top: -5px;
  }

  .versionTag {
    position: absolute;
    rotate: -10deg;
    top: 40px;
    left: 15px;
  }
}
