.tiles {
  gap: rem(20px);
  margin-bottom: rem(20px);
}

.tile {
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  padding: rem(10px);
  flex-grow: 1;
  border-radius: rem(10px);

  --skeleton-height: rem(44px);
  --skeleton-width: 50%;
  --skeleton-border-radius: rem(10px);

  p span {
    font-size: rem(20px);
  }

  h1 {
    margin-bottom: rem(5px);
  }
}

.tableSkeleton {
  margin-top: rem(30px);
  --skeleton-height: rem(300px);
  --skeleton-width: 100%;
  --skeleton-border-radius: rem(10px);
}

.graph {
  gap: 0;
  margin-bottom: rem(20px);
}

.netWorthContainer {
  width: rem(60%);
  height: rem(500px);
  padding: rem(10px);
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  border-top-left-radius: rem(10px);
  border-bottom-left-radius: rem(10px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .netWorthChart {
    height: 75%;
  }
}

.assetsContainer {
  width: rem(40%);
  height: rem(500px);
  background-color: light-dark(var(--color-light), var(--color-dark));
  border: light-dark(var(--color-border-light), var(--color-border-dark))
    rem(2px) solid;
  margin-left: rem(-3px);
  border-top-right-radius: rem(10px);
  border-bottom-right-radius: rem(10px);
  border-bottom-left-radius: rem(0px);
  border-top-left-radius: rem(0px);
  padding: rem(10px);
}

.header {
  justify-content: space-between;

  .title {
    text-transform: capitalize;
    font-size: rem(20px);
  }
}

.netWorth {
  position: relative;
  margin-left: rem(20px);
  font-size: rem(48px);
  span {
    font-size: rem(24px);
    color: light-dark(var(--text-secondary), var(--text-secondary-dark));
    position: absolute;
    top: rem(8px);
    left: rem(-20px);
  }
}

.chartContainer {
  height: 90%;
  width: 100%;
}

.filters {
  justify-content: space-between;
}
