@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.navlink {
  border-radius: 5px;
}

.switch .mantine-Switch-labelWrapper {
  margin-top: -15px;
}

main {
  background-color: #f8f9fa;
}