.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;

  &__card.Panel {
    padding: 20px;
  }

  &__forgot {
    margin-top: -10px;
    margin-bottom: 20px;
  }
}
