.NavButton {
  text-decoration: none;
  border-radius: 8px;

  &Content {
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    color: var(--mantine-color-gray-5);

    &.active {
      color: var(--mantine-color-gray-7);
    }

    svg {
      margin-top: 2px;
      width: 20px;
      height: 20px;
    }
  }

  &.active {
    background-color: var(--mantine-color-white);
    border: 1px solid var(--mantine-color-gray-3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: -1px;
  }
}
