.account .mantine-ActionIcon-root {
  color: transparent;
}

.account:hover .mantine-ActionIcon-root {
  color: var(--ai-color);
}

.always {
  color: var(--ai-color);
}

.account {
  border-left: 5px solid red
}