/** GLOBAL CSS VALUES
* These apply to all components and pages
*/

/* COLORS */
.mantine-Title-root {
  color: light-dark(var(--text-primary), var(--text-primary-dark));
}

.mantine-Text-root {
  color: light-dark(var(--text-secondary), var(--text-secondary-dark));
}

:root {
  --text-primary: #111729;
  --text-secondary: #778090;
  --text-primary-dark: #e8e8e8;
  --text-secondary-dark: #a3a3a3;
  --color-light: #ffffff;
  --color-dark: #1b1c21;
  --color-accent: #287f71;
  --color-accent-2: #eb862a;
  --color-accent-3: #abbdd3;
  --color-background-light: #f1f3f5;
  --color-background-dark: #0c0e10;
  --color-border-light: #e5e7e9;
  --color-border-dark: #29292a;
  --color-hover-light: #e5e6e8;
  --color-hover-dark: #36363c;
  font-size: rem(14px);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: light-dark(var(--color-background-light), var(--color-background-dark));
}
