.toolTip {
  background-color: light-dark(var(--color-light), var(--color-dark));
  border: rem(2px) solid
    light-dark(var(--color-border-light), var(--color-border-dark));
  border-radius: rem(10px);
  padding: rem(10px);

  .swatch {
    --cs-size: rem(12px);
    margin-right: rem(-10px);
  }
}
