@import "/src/utils/styles/_variables.css";

.input {
  .label {
    color: $gray-6;
    font-size: 1rem;
  }

  .description {
    color: $gray-5;
    padding-bottom: 5px;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    color: $gray-5;
    cursor: pointer;
  }

  .section {
    border: none;
    margin: -1px;
    background-color: $gray-1;
    color: $gray-4;
  }

  .input,
  .inputWithSection {
    border: none;
    background-color: $gray-2;
  }

  .inputWithSection {
    padding-left: 45px;
  }

  &.password {
    input[type="password"] {
      font-size: 12px;
    }
  }
}
