/** BREAKPOINTS **/
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

/** COLORS **/
$white: #ffffff;
$black: #000000;

$gray-0: #f8fafc;
$gray-1: #f1f5f9;
$gray-2: #e2e8f0;
$gray-3: #cbd5e1;
$gray-4: #94a3b8;
$gray-5: #64748b;
$gray-6: #475569;
$gray-7: #334155;
$gray-8: #1e293b;
$gray-9: #0f172a;
$gray-10: #020617;
$red-0: #fef2f2;
$red-1: #fee2e2;
$red-2: #fecaca;
$red-3: #fca5a5;
$red-4: #f87171;
$red-5: #ef4444;
$red-6: #dc2626;
$red-7: #b91c1c;
$red-8: #991b1b;
$red-9: #7f1d1d;
$red-10: #450a0a;
$orange-0: #fff7ed;
$orange-1: #ffedd5;
$orange-2: #fed7aa;
$orange-3: #fdba74;
$orange-4: #fb923c;
$orange-5: #f97316;
$orange-6: #ea580c;
$orange-7: #c2410c;
$orange-8: #9a3412;
$orange-9: #7c2d12;
$orange-10: #431407;
$amber-0: #fffbeb;
$amber-1: #fef3c7;
$amber-2: #fde68a;
$amber-3: #fcd34d;
$amber-4: #fbbf24;
$amber-5: #f59e0b;
$amber-6: #d97706;
$amber-7: #b45309;
$amber-8: #92400e;
$amber-9: #78350f;
$amber-10: #451a03;
$yellow-0: #fefce8;
$yellow-1: #fef9c3;
$yellow-2: #fef08a;
$yellow-3: #fde047;
$yellow-4: #facc15;
$yellow-5: #eab308;
$yellow-6: #ca8a04;
$yellow-7: #a16207;
$yellow-8: #854d0e;
$yellow-9: #713f12;
$yellow-10: #422006;
$lime-0: #f7fee7;
$lime-1: #ecfccb;
$lime-2: #d9f99d;
$lime-3: #bef264;
$lime-4: #a3e635;
$lime-5: #84cc16;
$lime-6: #65a30d;
$lime-7: #4d7c0f;
$lime-8: #3f6212;
$lime-9: #365314;
$lime-10: #1a2e05;
$green-0: #f0fdf4;
$green-1: #dcfce7;
$green-2: #bbf7d0;
$green-3: #86efac;
$green-4: #4ade80;
$green-5: #22c55e;
$green-6: #16a34a;
$green-7: #15803d;
$green-8: #166534;
$green-9: #14532d;
$green-10: #052e16;
$emerald-0: #ecfdf5;
$emerald-1: #d1fae5;
$emerald-2: #a7f3d0;
$emerald-3: #6ee7b7;
$emerald-4: #34d399;
$emerald-5: #10b981;
$emerald-6: #059669;
$emerald-7: #047857;
$emerald-8: #065f46;
$emerald-9: #064e3b;
$emerald-10: #022c22;
$teal-0: #f0fdfa;
$teal-1: #ccfbf1;
$teal-2: #99f6e4;
$teal-3: #5eead4;
$teal-4: #2dd4bf;
$teal-5: #14b8a6;
$teal-6: #0d9488;
$teal-7: #0f766e;
$teal-8: #115e59;
$teal-9: #134e4a;
$teal-10: #042f2e;
$cyan-0: #ecfeff;
$cyan-1: #cffafe;
$cyan-2: #a5f3fc;
$cyan-3: #67e8f9;
$cyan-4: #22d3ee;
$cyan-5: #06b6d4;
$cyan-6: #0891b2;
$cyan-7: #0e7490;
$cyan-8: #155e75;
$cyan-9: #164e63;
$cyan-10: #083344;
$sky-0: #f0f9ff;
$sky-1: #e0f2fe;
$sky-2: #bae6fd;
$sky-3: #7dd3fc;
$sky-4: #38bdf8;
$sky-5: #0ea5e9;
$sky-6: #0284c7;
$sky-7: #0369a1;
$sky-8: #075985;
$sky-9: #0c4a6e;
$sky-10: #082f49;
$blue-0: #ebf8ff;
$blue-1: #ceedff;
$blue-2: #90cdf4;
$blue-3: #63b3ed;
$blue-4: #4299e1;
$blue-5: #3182ce;
$blue-6: #2b6cb0;
$blue-7: #2c5282;
$blue-8: #2a4365;
$blue-9: #1a365d;
$blue-10: #172554;
$indigo-0: #ebf4ff;
$indigo-1: #c3dafe;
$indigo-2: #a3bffa;
$indigo-3: #7f9cf5;
$indigo-4: #667eea;
$indigo-5: #5a67d8;
$indigo-6: #4c51bf;
$indigo-7: #434190;
$indigo-8: #3c366b;
$indigo-9: #2d2b55;
$indigo-10: #1e1b4b;
$violet-0: #f5f3ff;
$violet-1: #ede9fe;
$violet-2: #ddd6fe;
$violet-3: #c4b5fd;
$violet-4: #a78bfa;
$violet-5: #8b5cf6;
$violet-6: #7c3aed;
$violet-7: #6d28d9;
$violet-8: #5b21b6;
$violet-9: #4c1d95;
$violet-10: #2e1065;
$purple-0: #faf5ff;
$purple-1: #e9d8fd;
$purple-2: #d6bcfa;
$purple-3: #b794f4;
$purple-4: #9f7aea;
$purple-5: #805ad5;
$purple-6: #6b46c1;
$purple-7: #553c9a;
$purple-8: #44337a;
$purple-9: #322659;
$purple-10: #3b0764;
$fuchsia-0: #fdf4ff;
$fuchsia-1: #fae8ff;
$fuchsia-2: #f5d0fe;
$fuchsia-3: #f0abfc;
$fuchsia-4: #e879f9;
$fuchsia-5: #d946ef;
$fuchsia-6: #c026d3;
$fuchsia-7: #a21caf;
$fuchsia-8: #86198f;
$fuchsia-9: #701a75;
$fuchsia-10: #4a044e;
$pink-0: #fff5f7;
$pink-1: #fed7e2;
$pink-2: #fbb6ce;
$pink-3: #f687b3;
$pink-4: #ed64a6;
$pink-5: #d53f8c;
$pink-6: #b83280;
$pink-7: #97266d;
$pink-8: #702459;
$pink-9: #521b41;
$pink-10: #500724;
$rose-0: #fff1f2;
$rose-1: #ffe4e6;
$rose-2: #fecdd3;
$rose-3: #fda4af;
$rose-4: #fb7185;
$rose-5: #f43f5e;
$rose-6: #e11d48;
$rose-7: #be123c;
$rose-8: #9f1239;
$rose-9: #881337;
$rose-10: #4c0519;
