.Sidebar {
  background-color: var(--mantine-color-gray-1);
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__divider {
    margin: 5px 20px;
    border-color: var(--mantine-color-gray-2);
  }

  &__header {
    display: flex;
  }

  &__toggle {
    position: absolute;
    color: var(--mantine-color-gray-5);
    right: 20px;
  }
}
