@import "/src/utils/styles/_variables.css";

.PeriodSelector {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin: -20px 0 0px;

  &__button,
  &__buttonLarge {
    background-color: $gray-1;
    border: none;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: $gray-7;

    &Large {
      width: 45px;
    }

    &:hover {
      background-color: $gray-2;
    }

    &--active {
      background-color: $gray-3;
    }
  }
}
