.title {
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr 1fr 0.5fr;
}

button {
  text-align: right;
}

.paper .actionIcon {
  opacity: 0;
  transition: opacity 0.1s ease; /* Add a transition for a smooth effect */
}

/* Apply styles when the Paper component is hovered */
.paper:hover .actionIcon {
  opacity: 1;
}