@import "/src/utils/styles/_variables.css";

.login {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $gray-0;
  flex-direction: column;
  gap: 50px;
  padding-top: 150px;

  .forgot {
    margin-bottom: 20px;
  }

  .card {
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
