.container {
  grid-column: span 3;
}

.col1 {
  grid-column: span 1;
}

.col2 {
  grid-column: span 2
}

.col3 {
  grid-column: span 3;
}

.col4 {
  grid-column: span 4;
}

.col5 {
  grid-column: span 5;
}

.row1 {
  grid-row: span 1;
}

.row2 {
  grid-row: span 2;
}

.row3 {
  grid-row: span 3;
}

.row4 {
  grid-row: span 4;
}

.row5 {
  grid-row: span 5;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

