@import '../../global.css';

.app {
  height: 100%;
  flex-direction: column-reverse;

  @mixin larger-than 768px {
    flex-direction: row;
  }
}

.sidebar {
  height: 100%;
  width: rem(300px);
  display: none;
  position: fixed;
  background-color: light-dark(var(--color-light), var(--color-dark));
  border-right: rem(2px) solid var(--color-border-dark);

  @mixin larger-than 768px {
    display: unset;
  }
}

.mobileBar {
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1000;
  width: 100%;
  height: rem(80px);
  justify-content: space-evenly;
  padding: 0 rem(10px);
  border-top: rem(2px) solid var(--color-border-dark);
  background-color: light-dark(var(--color-light), var(--color-dark));

  @mixin larger-than 768px {
    display: none;
  }

  .link {
    text-decoration: none;
    text-align: center;
    color: light-dark(var(--color-text), var(--color-text-dark));
  }
  .icon {
    color: light-dark(var(--color-text), var(--color-text-dark));
  }
}

.content {
  width: 100%;
  height: 100%;
  background-color: light-dark(
    var(--color-background-light),
    var(--color-background-dark)
  );

  @mixin larger-than 768px {
    margin-left: rem(300px);
  }
}

/* 
.app {
  height: 100%;
  width: 100%;
  background-color: light-dark(unset, var(--mantine-color-dark-9));
}

.sidebar {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 300px;
  padding: 20px;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  transition: width 0.3s ease-in-out;

  .link .navText {
    opacity: 1;
    transition: opacity;
    transition-delay: 0.3s;
  }

  .link {
    text-decoration: none;
    color: var(--mantine-color-text);
    display: flex;
    padding: 5px;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
    position: relative;
  }

  .link:hover {
    text-decoration: none;
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
  }

  .link.active {
    text-decoration: none;
    color: light-dark(unset, var(--mantine-color-white));
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-9)
    );
    border-right: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-6)
      )
      1px solid;
    border-left: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-6)
      )
      1px solid;
    border-bottom: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-6)
      )
      3px solid;
    margin: 0 -0.5px -1px -0.5px;

    .icon {
      color: light-dark(unset, var(--mantine-color-white));
    }
  }

  &.collapsed {
    width: 80px;

    .link:hover {
      margin-top: 2px;
    }

    .link .navText {
      opacity: 0;
      height: 30px;
      transition: opacity;
    }

    .link:hover .navText {
      display: block;
      opacity: 1;
      left: 45px;
      width: max-content;
      background-color: var(--mantine-color-gray-4);
      padding: 2px 5px;
      border-radius: 10px;
      position: absolute;
    }
  }
}

.title {
  opacity: 1;
  transition: opacity, height;
  transition-delay: 0.3s;
  height: 100%;

  &.collapsed {
    opacity: 0;
    height: 0;
    transition: opacity, height;
  }
}

.content {
  height: 100%;
  margin-left: 300px;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  will-change: margin-left;

  &.collapsed {
    margin-left: 80px;
  }

  /** //FIXME: Something covering the on-hover */ /*
}

.icon {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-text));
}

.chevron {
  position: absolute;
  right: -14px;
  top: 50%;
} */
