.app {
  height: 100%;
  width: 100%;
  background-color: light-dark(white,var(--mantine-color-dark-9))
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 20px;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.content {
  height: 100%;
  margin-left: 300px;
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-text);
  display: flex;
  padding: 5px;
  gap: 5px;
  align-items: center;
  border-radius: 8px;
}

.link:hover {
  text-decoration: none;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.link:hover .navText {
  display: block;
}

.link.active {
  text-decoration: none;
  color: light-dark(unset, var(--mantine-color-white));
  background-color: light-dark(var(--mantine-color-white),var(--mantine-color-dark-9));
  border-right: light-dark(var(--mantine-color-gray-2),var(--mantine-color-dark-6)) 1px solid;
  border-left: light-dark(var(--mantine-color-gray-2),var(--mantine-color-dark-6)) 1px solid;
  border-bottom: light-dark(var(--mantine-color-gray-2),var(--mantine-color-dark-6)) 3px solid;  
  margin: 0 -0.5px -1px -0.5px;

  .icon {
    color: light-dark(unset, var(--mantine-color-white));
  }
}

.icon {
  color: light-dark(var(--mantine-color-black),var(--mantine-color-text));
}