.Table {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  &__header {
    border-top-left-radius: 10px;

    th {
      background-color: var(--mantine-color-gray-1);
      padding: 10px;
    }

    th:not(:first-child) {
      p {
        text-align: right !important;
      }
    }
  }

  &__body {
    tr {
      td {
        border-top: 1px solid var(--mantine-color-gray-2);
        padding: 10px;
      }
      td:not(:first-child) {
        text-align: right !important;
      }
    }

    tr:nth-child(even) {
      background-color: var(--mantine-color-gray-0);
    }
  }

  tr:first-child th:first-child {
    border-top-left-radius: 5px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 5px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }

  &__heading {
    &--text {
      color: var(--mantine-color-gray-6);
    }
  }
}
