.header {
  position: fixed;
  width: calc(100% - rem(300px));
  z-index: 300;
  justify-content: space-between;
  align-items: center;
  background-color: light-dark(var(--color-light), var(--color-dark));
  margin: rem(-80px) 0 0 rem(-20px);
  padding: rem(10px) rem(30px);
  border-bottom: rem(2px) solid light-dark(var(--color-border-light), var(--color-border-dark));
}
